---

import Layout from '../../layouts/Layout.astro';
import Task from '../../../Task.md';

---

<Layout>
	<div class="container">
		<Task />
	</div>
</Layout>

<style>
	.container {
		padding: 1rem;
	}
</style>